.cart-container {
    width: 700px;
    height: 754px;
    margin-left:30%;
    /* background-image: URL('../../bean.png');
    background-size: cover; */
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
    background:linear-gradient(#00143e , #0f315f);
}

.welcome {
    margin-left: 28%;
    display: inline-block;
    flex-direction: row;
    font-size: xx-large;
    color: white;
}

/* .cart_inventory {
    margin: 20px;
    padding: 20px;
    background:linear-gradient(#00143e , #0f315f);
} */

.bunch {
    margin: 10px;
    padding: 10px;
}