.cart-container {
    width: 700px;
    height: 500px;
    margin-left: 30%;
    /* background-image: URL('../../bean.png');
    background-size: cover; */
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
}

.welcome {
    margin-left: 30%;
    display: inline-block;
    flex-direction: row;
    /* justify-content: center;
    align-content: center; */
    font-size: xx-large;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(#00143e , #0f315f);
    color: white;
}

.cart_inventory {
    margin: 20px;
    padding: 20px;
    background:linear-gradient(#00143e , #0f315f);
}

.bunch {
    margin: 10px;
    padding: 10px;
}