.cart-container {
    width: 100vw;
    height: 100vh;
    background-image: URL('../../bean.png');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: xx-large;
}

.welcome {
    display: flex;
    justify-content: center;
}