.log {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 241, 241);
    font-size: xx-large;
   }

   .login-container {
       width: 150vh;
       height: 40vw;
       box-shadow:  0 20px 40px 0 black;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       border-radius: 8px;
       padding: 20px;
       background: linear-gradient(#00143e , #0f315f);
   }

   .email {
       display: flex;
       background: none;
       font-size: x-large;
       background-color: white;
       border-radius: 10%;
   }

   .password {
       display: flex;
       background: none;
       font-size: x-large;
       background-color: white;
       border-radius: 10%;
   }
   
   .button {
       display: inline-flex;
       border: none;
       padding: 10px;
       width: 100px;
       color: rgb(245, 241, 241);
   }

   .log-btn {
       display: flex;
       margin: 40px;
       background: none;
       font-size: large;
       color: white;
   }

   .sign-btn {
        display: flex;
        margin: 40px;
        background: none;
        font-size: large;
        color: white;
   }

   .email_two {
        display: flex;
        background: none;
        font-size: x-large;
   }

   .password_two {
        display: flex;
        background: none;
        font-size: x-large;
   }

   .register_btn {
        display: flex;
        margin: 40px;
        background: none;
        font-size: large;
        color: white;
   }

   h1 {
       font-family: 'Fredoka One', cursive;
       color: rgb(245, 241, 241);
       -webkit-text-stroke-width: 2px;
   }

   @media (max-width: 1000px){
    .login-container {
        box-shadow: none;
}
   }