html { 
  display: flex;
  width: 100px;
  height: 100px;
  background: url(bean.png) no-repeat center fixed; 
 /*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}