/* .header-container {
    background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
} */
h4 {
    text-align: center;
    font-size: 40px;
}

.logout-btn {
    text-align: center;
    margin: 20px;
}

.cart-btn {
    text-align: center;
    margin: 20px;
}