/* * {
    border: 1px solid red !important;
 }
 */
.storeContainer {
    width: 100vw;
    height: 100vh;
    background-image: URL('../../moroccan-flower-dark.png');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: xx-large;
}

.inventory {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.image {
    height: 60px;
    width: 60px;
}

.header {
    display: flex;
    justify-content: center;

}